@media (max-width: 1280px) {

    body{
        background-position: center bottom;
        background-size: 450px 500px;
        height:50%;
            width:50%;
        
    }
    .caixa{

        margin-top: 500px;
       

    }
}