@media (max-width: 1280px) {

    body{
        background-position: center bottom;
        background-size: 450px 500px;
        
    }
    .caixa{

        margin-top: 500px;
        width: 900px;
        height: auto 200%;

    }
}